<form action="/new_bookmark" method="post">
  <label for="new_bookmark_url">
    New Bookmark url:
    <input type="text" name="new_bookmark_url">
  </label>
  <label for="new_bookmark_title">
    New Bookmark title:
    <input type="text" name="new_bookmark_title">
  </label>
  <input type="submit" value="Add bookmark">
</form>
