<form action="/added_bookmark" method="post">
  <label for="new_bookmark">  
    New Bookmark:
    <input type="text" name="new_bookmark">
  </label>
  <input type="submit" value="Add bookmark">
</form>
     
